{% load i18n %}
{% load static %}

{%if messages %}
{%for message in messages %}
<div class = "alert alert-{{message.tags}}" role ='alert'>
                                 </div>
{%endfor%}
{%endif%} 

<!-- Header Section Begin -->
<header class="box-shadow-sm">
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="{% url 'core:index' %}"
                    style="min-width: 7rem"><img width="142" src="{% static 'img/logo-dark.png' %}"
                        alt="Cartzilla" /></a><a class="navbar-brand d-sm-none mr-2" href="{% url 'core:index' %}"
                    style="min-width: 4.625rem"><img width="74" src="{% static 'img/logo-icon.png' %}"
                        alt="Cartzilla" /></a>
                <div class="input-group-overlay d-none d-lg-flex mx-4">
                    <form class=" form-inline md-form mr-auto mb-4 form-control-lg"
                        action="{% url 'core:search_result' %}" method="GET">
                        <input class="form-control appended-form-control" type="text" style="width: 500px;"
                            placeholder="Search" name='q' />
                        <button type="submit" class="btn btn-outline-dark">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>


                    </form>
                </div>
                   
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler"
                        href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon czi-menu"></i>
                        </div>
                    </a>
                    <a class="navbar-tool d-none d-lg-flex" href="{% url 'account:wishlist' %}"><span
                            class="navbar-tool-tooltip">Wishlist</span>
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon czi-heart"></i>
                        </div>
                    </a>

                    {% if user.is_authenticated %}

                    <div class="navbar-tool dropdown ml-3">
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon czi-user"></i>
                        </div>
                        <div class="navbar-tool-text ml-n3">
                            {% if user.is_authenticated %}
                            <small>Hello, {{ user.username }}</small>My Account
                            {% else %}
                            <small>Hello, Sign in</small>My Account
                            {% endif %}
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'account:profile' %}">
                                    <div class="d-flex">
                                        <div class="lead text-muted pt-1">
                                            <i class="far fa-user"></i>
                                        </div>
                                        <div class="ml-2 align-self-center">
                                            <span class="d-block text-heading">Profile</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account:change_password' %}">
                                    <div class="d-flex">
                                        <div class="lead text-muted pt-1">
                                            <i class="czi-key"></i>
                                        </div>
                                        <div class="ml-2 align-self-center">
                                            <span class="d-block text-heading">
                                                Change password
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">
                                    <div class="d-flex">
                                        <div class="lead text-muted pt-1">
                                            <i class="czi-sign-out"></i>
                                        </div>
                                        <div class="ml-2 align-self-center" >
                                            <span class="d-block text-heading">Logout</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% else %}
                    <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="#signin-modal" data-toggle="modal">
                        <div class="navbar-tool-icon-box">
                            <i class="navbar-tool-icon czi-user"></i>
                        </div>
                        <div class="navbar-tool-text ml-n3">
                            <small>Hello, Sign in</small>My Account
                        </div>
                    </a>
                    {% endif %}


                    <div class="navbar-tool dropdown ml-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="{% url 'order:shopcart'%}"><span
                                class="navbar-tool-label">{{count_cart}}</span><i class="navbar-tool-icon czi-cart"></i></a>
                                {% if user.is_authenticated %}   
                        <a class="navbar-tool-text" href="{% url 'order:shopcart'%}"><small>My Cart</small>{{total}}</a>
                                    {%else%}
                                    <a class="navbar-tool-text" href="{% url 'order:shopcart'%}"><small>My Cart</small>0.00</a>
                                    {%endif%}
                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-right" style="width: 20rem">
                            <div class="widget widget-cart px-3 pt-2 pb-3">
                                <div style="height: 15rem" data-simplebar data-simplebar-auto-hide="false">
                                    {%for product in cart %}
                                    {% if product.product_cart.discount_price %}
                                    <span class="badge badge-danger badge-shadow">Sale</span>
                                    {% endif %}
                                    <div class="widget-cart-item pb-2 border-bottom">
                                        <a class="close text-danger" herf = '/order/deletefromcart/{{product.id}}' type ="button"  aria-label="Remove">
                                            <span aria-hidden="true">&times;</span>
                                        </a>
                                        <div class="media align-items-center">
                                            <a class="d-block mr-2" href="{% url 'core:product_detail' p_store_type=product.product_cart.category.store.storetype.slug store_slug=product.product_cart.category.store.slug category_slug=product.product_cart.category.slug slug=product.product_cart.slug %}"><img width="64"
                                                    src="/media/{{ product.product_cart.image }}"
                                                    alt="Product" /></a>
                                            <div class="media-body">
                                                <h6 class="widget-product-title">
                                                    <a href="{% url 'core:product_detail' p_store_type=product.product_cart.category.store.storetype.slug store_slug=product.product_cart.category.store.slug category_slug=product.product_cart.category.slug slug=product.product_cart.slug %}">{{product.product_cart.name}}</a>
                                                </h6>
                                                <div class="widget-product-meta">
                                                    {% if product.product_cart.discount_price %}
                                                    <span class="text-accent"> {{product.product_cart.discount_price}} <small>JOD  </small> <span
                                                       class="text-muted"> x {{product.quantity}}</span></span>
                                                                   <del class="font-size-sm text-muted">{{ product.price }}</del>
                                                                                       {% else %}
   
                                                       <span class="text-accent">{{ product.price }}<small> JOD </small><span
                                                           class="text-muted"> x {{product.quantity}}</span></span>
                                                       {% endif %}
                                                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            

                                    
                                 <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="font-size-sm mr-2 py-2">
                                        <span class="text-muted">Subtotal:</span><span
                                            class="text-accent font-size-base ml-1">{{total}}<small>JOD</small></span>
                                    </div>
                                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'order:shopcart' %}">Expand cart<i
                                            class="czi-arrow-right ml-1 mr-n1"></i></a>
                                </div>
                                <a class="btn btn-primary btn-sm btn-block" href="{% url 'order:shopcart' %}">
                                    <i class="czi-card mr-2 font-size-base align-middle"></i>Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group-overlay d-lg-none my-3">
                        <div class="input-group-prepend-overlay">
                            <span class="input-group-text"><i class="czi-search"></i></span>
                        </div>
                        <input class="form-control prepended-form-control" type="text"
                            placeholder="Search for products" />
                    </div>
                    <!-- Departments menu-->
                    <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-0" href="#" data-toggle="dropdown"><i
                                    class="czi-view-grid mr-2"></i>Departments</a>
                            <div class="dropdown-menu px-2 pl-0 pb-4">
                                <div class="d-flex flex-wrap flex-md-nowrap">

                                    {% for type in store_types %}
                                    <div class="mega-dropdown-column pt-4 px-3">
                                        <div class="widget widget-links">
                                            <a class="d-block overflow-hidden rounded-lg mb-3"
                                                href="{% url 'core:store_type_list' type.slug %}"><img
                                                    src="/media/{{ type.image }}" alt="Shoes" /></a>
                                            <h6 class="font-size-base mb-2">{{ type }}</h6>
                                            <ul class="widget-list">
                                                {% for store in all_stores %}
                                                {% if store.storetype == type %}
                                                <li class="widget-list-item">
                                                    <a class="widget-list-link"
                                                        href="{% url 'core:store_products_list' slug=store.slug type_slug=store.storetype.slug %}">
                                                        {{store.name }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Primary menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-fashion-store-v1.html"><span
                                            class="d-block text-heading">Fashion Store v.1</span><small
                                            class="d-block text-muted">Classic shop layout</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-fashion-store-v1.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th01.jpg' %}"
                                                alt="Fashion Store v.1" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-electronics-store.html"><span
                                            class="d-block text-heading">Electronics Store</span><small
                                            class="d-block text-muted">Slider + Promo banners</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-electronics-store.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th03.jpg' %}"
                                                alt="Electronics Store" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-marketplace.html"><span
                                            class="d-block text-heading">Marketplace</span><small
                                            class="d-block text-muted">Multi-vendor, digital goods</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-marketplace.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th04.jpg' %}" alt="Marketplace" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-grocery-store.html"><span
                                            class="d-block text-heading">Grocery Store</span><small
                                            class="d-block text-muted">Full width + Side menu</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-grocery-store.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th06.jpg' %}"
                                                alt="Grocery Store" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-food-delivery.html"><span
                                            class="d-block text-heading">Food Delivery Service</span><small
                                            class="d-block text-muted">Food &amp; Beverages delivery</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-food-delivery.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th07.jpg' %}"
                                                alt="Food Delivery Service" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2 border-bottom" href="home-fashion-store-v2.html"><span
                                            class="d-block text-heading">Fashion Store v.2</span><small
                                            class="d-block text-muted">Slider + Featured categories</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-fashion-store-v2.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th02.jpg' %}"
                                                alt="Fashion Store v.2" /></a>
                                    </div>
                                </li>
                                <li class="dropdown position-static mb-0">
                                    <a class="dropdown-item py-2" href="home-single-store.html"><span
                                            class="d-block text-heading">Single Product Store</span><small
                                            class="d-block text-muted">Single product / mono brand</small></a>
                                    <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                                        <a class="d-block" href="home-single-store.html" style="width: 250px"><img
                                                src="{% static 'img/home/preview/th05.jpg' %}"
                                                alt="Single Product / Brand Store" /></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                            <div class="dropdown-menu p-0">
                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                    <div class="mega-dropdown-column py-4 px-3">
                                        <div class="widget widget-links mb-3">
                                            <h6 class="font-size-base mb-3">Shop layouts</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-grid-ls.html">Shop Grid -
                                                        Left Sidebar</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-grid-rs.html">Shop Grid -
                                                        Right Sidebar</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-grid-ft.html">Shop Grid -
                                                        Filters on Top</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-list-ls.html">Shop List -
                                                        Left Sidebar</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-list-rs.html">Shop List -
                                                        Right Sidebar</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-list-ft.html">Shop List -
                                                        Filters on Top</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Marketplace</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link"
                                                        href="marketplace-category.html">Category Page</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="marketplace-single.html">Single
                                                        Item Page</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="marketplace-vendor.html">Vendor
                                                        Page</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="marketplace-cart.html">Cart</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link"
                                                        href="marketplace-checkout.html">Checkout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column py-4 px-3">
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Shop pages</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-categories.html">Shop
                                                        Categories</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-single-v1.html">Product Page
                                                        v.1</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-single-v2.html">Product Page
                                                        v.2</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="shop-cart.html">Cart</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="checkout-details.html">Checkout -
                                                        Details</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="checkout-shipping.html">Checkout -
                                                        Shipping</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="checkout-payment.html">Checkout -
                                                        Payment</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="checkout-review.html">Checkout -
                                                        Review</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="checkout-complete.html">Checkout -
                                                        Complete</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="order-tracking.html">Order
                                                        Tracking</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="comparison.html">Product
                                                        Comparison</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column py-4 pr-3">
                                        <div class="widget widget-links mb-3">
                                            <h6 class="font-size-base mb-3">Grocery store</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="grocery-catalog.html">Product
                                                        Catalog</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="grocery-single.html">Single
                                                        Product Page</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link"
                                                        href="grocery-checkout.html">Checkout</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-links">
                                            <h6 class="font-size-base mb-3">Food Delivery</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link"
                                                        href="food-delivery-category.html">Category Page</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="food-delivery-single.html">Single
                                                        Item (Restaurant)</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link" href="food-delivery-cart.html">Cart
                                                        (Your Order)</a>
                                                </li>
                                                <li class="widget-list-item pb-1">
                                                    <a class="widget-list-link"
                                                        href="food-delivery-checkout.html">Checkout (Address &amp;
                                                        Payment)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Account</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Shop User
                                        Account</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'account:register' %}">Register</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'account:login' %}">Login</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-orders.html">Orders History</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-profile.html">Profile Settings</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-address.html">Account Addresses</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-payment.html">Payment Methods</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-wishlist.html">Wishlist</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-tickets.html">My Tickets</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="account-single-ticket.html">Single Ticket</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Vendor
                                        Dashboard</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="dashboard-settings.html">Settings</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-purchases.html">Purchases</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-favorites.html">Favorites</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-sales.html">Sales</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-products.html">Products</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-add-new-product.html">Add New
                                                Product</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="dashboard-payouts.html">Payouts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="account-signin.html">Sign In / Sign Up</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="account-password-recovery.html">Password Recovery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Navbar
                                        Variants</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="navbar-1-level-light.html">1 Level Light</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="navbar-1-level-dark.html">1 Level Dark</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="navbar-2-level-light.html">2 Level Light</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="navbar-2-level-dark.html">2 Level Dark</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="navbar-3-level-light.html">3 Level Light</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="navbar-3-level-dark.html">3 Level Dark</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="home-electronics-store.html">Electronics
                                                Store</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="home-marketplace.html">Marketplace</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="home-grocery-store.html">Side Menu
                                                (Grocery)</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="home-single-store.html">Transparent</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="contacts.html">Contacts</a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Help
                                        Center</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="help-topics.html">Help Topics</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="help-single-topic.html">Single Topic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="help-submit-request.html">Submit a
                                                Request</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">404 Not
                                        Found</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="404-simple.html">404 - Simple Text</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="404-illustration.html">404 - Illustration</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Blog List
                                        Layouts</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="blog-list-sidebar.html">List with Sidebar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="blog-list.html">List no Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Blog Grid
                                        Layouts</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="blog-grid-sidebar.html">Grid with Sidebar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="blog-grid.html">Grid no Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Single Post
                                        Layouts</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="blog-single-sidebar.html">Article with
                                                Sidebar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="blog-single.html">Article no Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Docs / Components</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="docs/dev-setup.html">
                                        <div class="d-flex">
                                            <div class="lead text-muted pt-1">
                                                <i class="czi-book"></i>
                                            </div>
                                            <div class="ml-2">
                                                <span class="d-block text-heading">Documentation</span><small
                                                    class="d-block text-muted">Kick-start customization</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="components/typography.html">
                                        <div class="d-flex">
                                            <div class="lead text-muted pt-1">
                                                <i class="czi-server"></i>
                                            </div>
                                            <div class="ml-2">
                                                <span class="d-block text-heading">Components<span
                                                        class="badge badge-info ml-2">40+</span></span><small
                                                    class="d-block text-muted">Faster page building</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="docs/changelog.html">
                                        <div class="d-flex">
                                            <div class="lead text-muted pt-1">
                                                <i class="czi-edit"></i>
                                            </div>
                                            <div class="ml-2">
                                                <span class="d-block text-heading">Changelog<span
                                                        class="badge badge-success ml-2">v1.4</span></span><small
                                                    class="d-block text-muted">Regular updates</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="mailto:contact@createx.studio">
                                        <div class="d-flex">
                                            <div class="lead text-muted pt-1">
                                                <i class="czi-help"></i>
                                            </div>
                                            <div class="ml-2">
                                                <span class="d-block text-heading">Support</span><small
                                                    class="d-block text-muted">contact@createx.studio</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->

{% include "components/login-register.html" %}