{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block site_title %}
{% trans "Reset Password" %}
{% endblock %}

{% block content %}

<div class="container py-4 py-lg-5 my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h2 class="h3 mb-4">Forgot your password?</h2>
      <p class="font-size-md">Change your password in three easy steps. This helps to keep your new password secure.</p>
      <ol class="list-unstyled font-size-md">
        <li><span class="text-primary mr-2">1.</span>Fill in your email address below.</li>
        <li><span class="text-primary mr-2">2.</span>We'll email you a link.</li>
        <li><span class="text-primary mr-2">3.</span>Use the link to change your password.</li>
      </ol>
      <div class="card py-2 mt-4">
        <form method="POST" class="card-body needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <p>{{ form | crispy }}</p>
            <div class="invalid-feedback">Please provide valid email address.</div>
          </div>
          <button class="btn btn-primary" type="submit">Get new password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}