{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block site_title %}
{% trans "Reset Done" %}
{% endblock %}

{% block content %}

<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-lg-7 col-md-9">

    <!-- Main Content Here -->
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Reset Your Password!</h1>
              </div>
              <p>We have sended you reset password link on your email. Please Check Your Email.</p>
              <div class="text-center">
                <a class="" href="{% url 'core:index' %}" style="text-align: left !important;">Back to Home Page</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}