{% extends "base/main/layout/layout.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block site_title %}

{% if update_product %}
{% trans "Cartzilla | Update Product" %}
{% elif add_product %}
{% trans "Cartzilla | Add Product" %}
{% elif add_category %}
{% trans "Cartzilla | Add Category" %}
{% elif add_brand %}
{% trans "Cartzilla | Add Brand" %}
{% elif product_list %}
{% trans "Cartzilla | Products" %}
{% elif orders_list or order_details %}
{% trans "Cartzilla | Orders" %}
{% endif %}

{% endblock %}

{% block content %}
<div class="page-title-overlap bg-accent pt-4">
    <div
        class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="media media-ie-fix align-items-center pb-3">
            <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;">
                <img class="rounded-circle" src="/media/{{ store_image }}" alt="Createx Studio">
            </div>
            <div class="media-body pl-3">
                <h3 class="text-light font-size-lg mb-0">{{ store_name }}</h3>
                <span class="d-block text-light font-size-ms opacity-60 py-1">
                    Member since {{ store_join_date|date:"M d, Y" }}</span>
            </div>
        </div>
        <div class="d-flex">
            <div class="text-sm-right mr-5">
                <div class="text-light font-size-base">Total sales</div>
                <h3 class="text-light">{{ overall_sales }} JOD</h3>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4">
                <!-- Account menu toggler (hidden on screens larger 992px)-->
                <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu"
                        data-toggle="collapse"><i class="czi-menu mr-2"></i>Account menu</a></div>
                <!-- Actual menu-->
                <div class="cz-sidebar-static h-100 p-0">
                    <div class="secondary-nav collapse border-right" id="account-menu">
                        <div class="bg-secondary p-4">
                            <h3 class="font-size-sm mb-0 text-muted">Dashboard</h3>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li class="border-bottom mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3 {% if product_list %}active{% endif %}"
                                    href="{% url 'owner:product_list' %}">
                                    <i class="czi-package opacity-60 mr-2"></i>Products
                                    <span class="font-size-sm text-muted ml-auto">{{ product_count }}</span>
                                </a>
                            </li>
                            <li class="border-bottom mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3 {% if orders_list or order_details %}active{% endif %}"
                                    href="{% url 'owner:orders_list' %}">
                                    <i class="czi-package opacity-60 mr-2"></i>Orders
                                    <span class="font-size-sm text-muted ml-auto">{{ orders_count }}</span>
                                </a>
                            </li>
                            <li class="border-bottom mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3 {% if add_product or update_product %}active{% endif %}"
                                    href="{% url 'owner:add_product' %}">
                                    <i class="czi-cloud-upload opacity-60 mr-2"></i>Add New Product
                                    {% if update_product %}
                                    / Udpate
                                    {% endif %}

                                </a>
                            </li>
                            <li class="border-bottom mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3 {% if add_category%}active{% endif %}"
                                    href="{% url 'owner:add_category' %}">
                                    <i class="czi-cloud-upload opacity-60 mr-2"></i>Add New Category
                                </a>
                            </li>
                            <li class="border-bottom mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3 {% if add_brand %}active{% endif %}"
                                    href="{% url 'owner:add_brand' %}">
                                    <i class="czi-cloud-upload opacity-60 mr-2"></i>Add New Brand

                                </a>
                            </li>
                            <li class="mb-0">
                                <a class="nav-link-style d-flex align-items-center px-4 py-3"
                                    href="{% url 'account:logout' %}">
                                    <i class="czi-sign-out opacity-60 mr-2"></i>Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <!-- Content-->
            {% if add_product or update_product %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">
                            {% if update_product %}
                            Update Product
                            {% else %}
                            Add New Product
                            {% endif %}
                        </h2>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">
                            <i class="czi-cloud-upload font-size-lg mr-2"></i>Upload Product
                        </button>
                    </form>
                </div>
            </section>
            {% elif add_category %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">
                            Add New Category
                        </h2>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">
                            <i class="czi-cloud-upload font-size-lg mr-2"></i>Upload Category
                        </button>
                    </form>
                </div>
            </section>
            {% elif add_brand %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">
                            Add New Brand
                        </h2>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-block" type="submit">
                            <i class="czi-cloud-upload font-size-lg mr-2"></i>Upload Brand
                        </button>
                    </form>
                </div>
            </section>
            {% elif product_list %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">Your products
                            <span class="badge badge-secondary font-size-sm text-body align-middle ml-2">
                                {{ product_count }}</span>
                        </h2>
                    </div>
                    {% if products %}
                    {% for product in products %}
                    <!-- Product-->
                    <div class="media d-block d-sm-flex align-items-center py-4 border-bottom">
                        <a class="d-block mb-3 mb-sm-0 mr-sm-4 mx-auto"
                            href="{% url 'core:product_detail' p_store_type=product.category.store.storetype.slug store_slug=product.category.store.slug category_slug=product.category.slug slug=product.slug %}"
                            style="width: 12.5rem;"><img class="rounded-lg" src="/media/{{ product.image }}"
                                alt="Product"></a>
                        <div class="media-body text-center text-sm-left">
                            <h3 class="h6 product-title mb-2">
                                <a
                                    href="{% url 'core:product_detail' p_store_type=product.category.store.storetype.slug store_slug=product.category.store.slug category_slug=product.category.slug slug=product.slug %}">
                                    {{ product.name }}</a>
                            </h3>
                            <div>Category:
                                <a
                                    href="{% url 'core:category_products_list' c_store_type=product.category.store.storetype.slug store_slug=product.category.store.slug slug=product.category.slug %}" class="text-dark">
                                    {{ product.category.name|title }}</a>
                            </div>
                            <div class="d-inline-block text-accent pt-2">
                                {% if product.discount_price %}
                                <span class="text-accent"><small>JOD</small>
                                    {{ product.discount_price}}
                                </span>
                                <del class="font-size-sm text-muted">{{ product.price }}</del>
                                {% else %}
                                <span class="text-accent"><small>JOD</small>
                                    {{ product.price }}</span>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center justify-content-sm-start pt-3">
                                <a class="btn bg-faded-info btn-icon mr-2"
                                    href="{% url 'owner:update_product' product.slug %}" title="Edit">
                                    <i class="czi-edit text-info"></i>
                                </a>
                                <a href="{% url 'owner:delete_product' product.slug %}"
                                    class="btn bg-faded-danger btn-icon" title="Delete"
                                    onclick="return confirm('Delete!\n{{ product.name }}\nAre you Sure?')">
                                    <i class="czi-trash text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </section>
            {% elif orders_list %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">Your Orders
                            <span class="badge badge-secondary font-size-sm text-body align-middle ml-2">
                                {{ orders_count }}
                            </span>
                        </h2>
                    </div>
                    <div class="table-responsive font-size-md">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Order #</th>
                                    <th>Date Purchased</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}

                                <tr>
                                    <td class="py-3">
                                        <a class="nav-link-style font-weight-medium font-size-sm"
                                            href="{% url 'owner:order_details' order.id %}">
                                            {{ order.id }}
                                        </a>
                                    </td>
                                    <td class="py-3">{{ order.create_at }}</td>
                                    <td class="py-3">
                                        <span class="badge badge-{% if order.status == 'In Progress' %}info{% elif order.status == 'Delayed' %}warning{% elif order.status == 'Canceled' %}danger{% else %}success{% endif %}
                                             m-0">
                                            {{ order.status }}
                                        </span>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            {% elif order_details %}
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
                    <!-- Title-->
                    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                        <h2 class="h3 py-2 mr-2 text-center text-sm-left">Total
                            <span class="badge badge-secondary text-body align-middle ml-2">
                                {{ total_price }} JOD
                            </span>
                        </h2>
                    </div>
                    <div class="owner-width">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary btn-block" type="submit">
                                <i class="czi-cloud-upload font-size-lg mr-2"></i>Update
                            </button>
                        </form>
                    </div>

                    <div class="table-responsive font-size-md">
                        {% for order in order_details %}
                        <!-- Product-->
                        <div class="media d-block d-sm-flex align-items-center py-4 border-bottom">
                            <a class="d-block mb-3 mb-sm-0 mr-sm-4 mx-auto"
                                href="{% url 'core:product_detail' p_store_type=order.product.category.store.storetype.slug store_slug=order.product.category.store.slug category_slug=order.product.category.slug slug=order.product.slug %}"
                                style="width: 12.5rem; text-align: center;">
                                <img class="rounded-lg" src="/media/{{ order.product.image }}" alt="Product"
                                    style="height: 273px;"></a>
                            <div class="media-body text-center text-sm-left">
                                <h3 class="h6 product-title mb-2">
                                    <a
                                        href="{% url 'core:product_detail' p_store_type=order.product.category.store.storetype.slug store_slug=order.product.category.store.slug category_slug=order.product.category.slug slug=order.product.slug %}">
                                        {{ order.product.name }}</a>
                                </h3>
                                <h6>
                                    Quantity: {{ order.quantity }}
                                </h6>
                                {% if order.size_Choiced %}
                                <h6>
                                    Size: {{ order.size_Choiced }}
                                </h6>
                                {% endif %}
                                {% if order.color_Choiced %}
                                <h6>
                                    <div class="pb-2">Color:</div>
                                    <label class="custom-option-label rounded-circle">
                                        <span class="custom-option-color rounded-circle"
                                            style="background-color: {{ order.color_Choiced }};"></span>
                                    </label>
                                </h6>
                                {% endif %}
                                <div class="d-inline-block text-accent">
                                    {% if order.product.discount_price %}
                                    <span class="text-accent"><small>JOD</small>
                                        {{ order.product.discount_price}}
                                    </span>
                                    <del class="font-size-sm text-muted">{{ order.product.price }}</del>
                                    {% else %}
                                    <span class="text-accent"><small>JOD</small>
                                        {{ order.product.price }}</span>
                                    {% endif %}
                                </div>
                                <h6 class="pt-5">
                                    Subtotal:
                                    {% if order.product.discount_price %}
                                    <span class="text-dark">
                                        <small>{{ order.product.discount_price}}</small>
                                    </span>
                                    {% else %}
                                    <span class="text-dark">
                                        <small>{{ order.product.price }}</small>
                                    </span>
                                    {% endif %} * <small>{{ order.quantity }}</small> =
                                    <span class="text-accent">
                                        {{ order.total }}
                                        <small>JOD</small>
                                    </span>

                                </h6>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Zip Code</th>
                                    <th>Note</th>
                                    <th>deliver Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{ order_details.0.user.username }}</th>
                                    <td>{{ order_details.0.order.first_name }}</td>
                                    <td>{{ order_details.0.order.last_name }}</td>
                                    <td>{{ order_details.0.order.email }}</td>
                                    <td>{{ order_details.0.order.phone }}</td>
                                    <td>{{ order_details.0.order.city }}</td>
                                    <td>{{ order_details.0.order.address }}</td>
                                    <td>{{ order_details.0.order.zip_code }}</td>
                                    <td>{{ order_details.0.order.note }}</td>
                                    <td>{{ order_details.0.deliver_time }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}