<!-- Page title-->
<!-- Page Title (Shop Alt)-->
<!-- used for shop templates with filters on top-->

{% if search_exist %}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap text-lg-right" href="{% url 'core:index' %}"><i
                                class="czi-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap ">
                        <p><a class="text-success">Searching on : {{search}}</a></p>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-2">Search Results <small>( {{products_number}} )</small></h1>
        </div>
    </div>
</div>

{% elif profile_exist or wishlist_exist or orders_exist or order_details_exist %}

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'core:index' %}">
                            <i class="czi-home"></i>Home</a></li>
                    {% if wishlist_exist %}
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Wishlist</li>
                    {% elif orders_exist or order_details_exist %}
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Orders</li>
                    {% else %}
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Profile info</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            {% if wishlist_exist %}
            <h1 class="h3 text-light mb-0">My Wishlist</h1>
            {% elif orders_exist %}
            <h1 class="h3 text-light mb-0">My Orders</h1>
            {% else %}
            <h1 class="h3 text-light mb-0">Profile info</h1>
            {% endif %}

        </div>
    </div>
</div>

{% elif product %}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap text-lg-right" href="{% url 'core:index' %}"><i
                                class="czi-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="{% url 'core:store_type_list' store_type_slug  %}">
                            {{ store_type_name }}
                        </a>
                    </li>

                    <li class="breadcrumb-item text-nowrap">
                        <a href="{% url 'core:store_products_list' type_slug=store_type_slug slug=store_slug %}">
                            {{ store_name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-nowrap">
                        <a
                            href="{% url 'core:category_products_list' c_store_type=store_type_slug store_slug=store_slug slug=product.category.slug  %}">
                            {{ category_name }}
                        </a>
                    </li>
                    {% if not reviews_page %}
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">
                        {{ product.name|truncatewords:3 }}</li>
                    {% else %}
                    <li class="breadcrumb-item text-nowrap">
                        <a
                            href="{% url 'core:product_detail' p_store_type=product.category.store.storetype.slug store_slug=product.category.store.slug category_slug=product.category.slug slug=product.slug %}">
                            {{ product.name|truncatewords:3 }}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">
                        Reviews</li>
                    {% endif %}
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
            <h1 class="h3 text-light mb-2">{{ product.name }}</h1>
            <div>
                <span class="star" aria-hidden="true" style="
                background: linear-gradient(to right,#fc3 calc({{ overall_rating }} * 20%),#ccc 0%);
                -webkit-background-clip: text;">★★★★★</span>
                <span class="d-inline-block font-size-sm text-white opacity-70">
                    {{ product_comments_count }} Reviews</span>
            </div>
        </div>
    </div>
</div>

{%else %}

<div class="bg-dark pt-4 pb-5">
    <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
        <div class="d-lg-flex justify-content-between pb-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol
                        class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'core:index' %}">
                                <i class="czi-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap">
                            <a href="{% url 'core:store_type_list' store_type_slug  %}">
                                {{ store_type_name }}
                            </a>
                        </li>

                        {% if category_name %}
                        <li class="breadcrumb-item text-nowrap">
                            <a href="{% url 'core:store_products_list' slug=store_slug type_slug=store_type_slug %}">
                                {{ store_name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ category_name }}</li>
                        {% else %}
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ store_name }}</li>
                        {% endif %}

                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                <h1 class="h4 text-light mb-0">
                    {{ store_name }} Store
                    {% if category_name %}
                    - {{ category_name }}
                    {% endif %}

                </h1>
            </div>
        </div>
    </div>
</div>

{% endif %}