{% load i18n %}
{% load static %}
{% load custom_tags %}

<!-- Page Content-->
<div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 ">
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <section class="col-lg-8">
        <!-- Steps-->
        <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Review your order</h2>
        <!-- Autor info-->
        <div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-lg mb-grid-gutter">
          <div class="media align-items-center">
            <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;"><span
                class="badge badge-warning" data-toggle="tooltip" title="Reward points">384</span><img
                class="rounded-circle" src="/media/{{userInfo.image}}" alt="Susan Gardner"></div>
            <div class="media-body pl-3">
              <h3 class="font-size-base mb-0">{{userInfo.username}}</h3><span
                class="text-accent font-size-sm">{{userInfo.email}}</span>
            </div>
          </div><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="{% url 'account:profile' %}"><i
              class="czi-edit mr-2"></i>Edit profile</a>
        </div>
        <!-- Shipping address-->
        <form method="POST" action="{% url 'order:checkout' %}">
          {%csrf_token%}
          <div class="row pb-4 pt-3">
            <div class="col-sm-3 mb-4">
              <label class="font-weight-medium" for="fd-name">First name<sup class="text-danger ml-1">*</sup></label>
              <input class="form-control" type="text" required id="fd-name" name='first_name'
                value="{{userInfo.first_name}}">
              <div class="invalid-feedback">Please enter your First Name!</div>
            </div>
            <div class="col-sm-3 mb-4">
              <label class="font-weight-medium" for="fd-name">Last name<sup class="text-danger ml-1">*</sup></label>
              <input class="form-control" type="text" required id="fd-name" name='last_name'
                value="{{userInfo.last_name}}">
              <div class="invalid-feedback">Please enter your First Name!</div>
            </div>
            <div class="col-sm-6 mb-4">
              <label class="font-weight-medium" for="fd-phone">Phone number<sup class="text-danger ml-1">*</sup></label>
              <input class="form-control" type="text" required id="fd-phone" name='phone'
                value="{{userInfo.phone_number}}">
              <div class="invalid-feedback">Please enter your phone number!</div>
            </div>
          </div>
          <h2 class="h5 pb-3">Delivery address</h2>
          <div class="row mb-4">
            <div class="col-sm-6 mb-4">
              <label class="font-weight-medium" for="fd-city">City<sup class="text-danger ml-1">*</sup></label>
              <select class="form-control custom-select" name='city' id="fd-city">
                {%for city in form.city %}
                <option>{{city}}</option>
                {%endfor%}

              </select>
            </div>
            <div class="col-sm-6 mb-4">
              <label class="font-weight-medium" for="fd-address">Address<sup class="text-danger ml-1">*</sup></label>
              {%if userInfo.address%}
              <input class="form-control" type="text" name='address' placeholder="Street, Apartment number or suite"
                value='{{userInfo.address}}' required id="fd-address">
              {%else%}
              <input class="form-control" type="text" name='address' placeholder="Street, Apartment number or suite"
                required id="fd-address">
              {%endif%}
              <div class="invalid-feedback">Please enter your address!</div>
            </div>
            <div class="col-12 mb-4">
              <label class="mb-3" for="fd-comments"><span class="badge badge-info font-size-xs mr-2">Note</span><span
                  class="font-weight-medium">Additional comments</span></label>
              <textarea class="form-control" rows="5" id="fd-comments"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 mb-4 mb-sm-0">
              <h2 class="h5 pb-2">Cash on delivery</h2>
              <div class="custom-control custom-radio custom-control-inline mb-3">
                <input class="custom-control-input" type="radio" name="payment" checked id="cash">
                <label class="custom-control-label" for="cash">Pay with cash to the courier</label>
              </div>
              <button class="btn btn-primary btn-block mt-3" type="submit">Complete order</button>
            </div>
        </form>
        <!-- Navigation (desktop)-->
      </section>
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0">
        <div style="height: 30rem" data-simplebar data-simplebar-auto-hide="false">
          <div class="widget mb-3">
            <h2 class="widget-title text-center">Order summary</h2>
            {%for product in cart%}
            {% if product.product_cart.discount_price %}
            <span class="badge badge-danger badge-shadow">Sale</span>
            {% endif %}
            <div class="media align-items-center pb-2 border-bottom"><a class="d-block mr-2"
                href="{% url 'core:product_detail' p_store_type=product.product_cart.category.store.storetype.slug store_slug=product.product_cart.category.store.slug category_slug=product.product_cart.category.slug slug=product.product_cart.slug %}"><img
                  width="64" src='/media/{{ product.product_cart.image }}' alt="Product" /></a>
              <div class="media-body">
                <h6 class="widget-product-title"><a
                    href="{% url 'core:product_detail' p_store_type=product.product_cart.category.store.storetype.slug store_slug=product.product_cart.category.store.slug category_slug=product.product_cart.category.slug slug=product.product_cart.slug %}">{{product.product_cart.name}}</a>
                </h6>
                <div class="widget-product-meta">
                  {% if product.product_cart.discount_price %}
                  <span class="text-accent"> {{product.product_cart.discount_price}} <small> JOD </small> </span>
                  <del class="font-size-sm text-muted">{{ product.price }}</del> <span class="text-muted"> x
                    {{product.quantity}}</span>
                  {% else %}
                  <span class="text-accent">{{ product.price }}<small> JOD </small><span class="text-muted">x
                      {{product.quantity}}</span> </span>
                  {% endif %}
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
        <div class="col-sm-12 pt-5">
          <div class="d-fle flex-column h-100 rounded-lg bg-secondary px-3 px-sm-4 py-4">
            <h2 class="h5 pb-3">Your total</h2>
            <div class="d-flex justify-content-between font-size-md border-bottom pb-3 mb-3">
              <span>Subtotal:</span><span class="text-heading">{{total}}<small>JOD</small></span></div>
            <div class="d-flex justify-content-between font-size-md border-bottom pb-3 mb-3">
              <span>Delivery:</span><span class="text-heading"><small>—</small></span></div>
            <div class="d-flex justify-content-between font-size-md mb-2"><span>Total:</span><span
                class="text-heading font-weight-medium">{{ total}}<small> JOD</small></span></div>
          </div>
        </div>
        <!-- <ul class="list-unstyled font-size-sm pb-2 border-bottom">
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span
              class="text-right">{{total}}<small>JOD</small></span></li>
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Shipping:</span><span
              class="text-right">—</span></li>
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Taxes:</span><span
              class="text-right">—<small></small></span></li>
          <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span
              class="text-right">—</span></li>
        </ul>
        <h3 class="font-weight-normal text-center my-4">{{total}}<small>JOD</small></h3> -->
    </div>
    </aside>
  </div>


</div>